{% extends 'base.html' %}
{% block title %}{user.first_name} {user.last_name}{% endblock %}
{% block content %}
<h1>{{user.first_name}} {{user.last_name}}</h1>
<img src={{user.image_url}} alt="picture of {{user.first_name}} {{user.last_name}}">
<form action="{{user.id}}/edit">
  <button>Edit</button>
</form>
<form action="{{user.id}}/delete" method="POST">
  <button>Delete</button>
</form>
<p><!-- fill in--></p>
<form action="/users/{{user.id}}/posts/new" method="GET">
  <button>Add post</button>
</form>

<!--this is the user_detail page (for testing)-->

{% endblock %}
